*
	margin 0
	padding 0
@import '../head.styl'

.header
	.header-title
		color #323232
.overdue-list
	margin-top 10px
	.overdue-cell
		background #fff
		padding 12px
		margin-top 10px
		display flex
		position relative

		.delete
			width 65px
			line-height 80px
			position fixed
			right 0
			text-align center
			color #ea5404
			display none
		.overdue-con
			padding-left 10px
			padding-top 5px
			h4
				font-weight 600
				font-size 14px
			p
				line-height 24px
				color #7f7f7f
				font-size 12px
			.overdue-btn
				width 4em
				padding 4px 10px
				border 1px solid #ea5404
				border-radius 5px
				color #ea5404
				font-size 12px
			.overdue-price
				color #ea5404
				font-weight 600
				font-size 14px
		.overdue-tips
			color #7f7f7f
			font-size 12px

			.overdued
				position absolute
				right 12px
				top 20px
			.overdue-title
				position absolute
				bottom 18px
				right -1px


