<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>居乐乐 - 杭州瑞栎网络科技股份有限公司</title>
	<meta name="keywords" content="杭州瑞栎网络科技股份有限公司"/>
	<meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，
公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/publish/house_detail.css">
</head>
<body>
	<header class="header">
		<span class="icon-back"></span>
	</header>
	<div class="slider-box">
		<div class="slider-container">
			<div class="slider-block">
				<img src="../public/img/banner_img03@2x.png" alt="" width="375">
			</div>
			<div class="slider-text">
				<div class="price-block">
					<span class="price">&yen;354615</span><span> 元/月</span>
				</div>
				<div class="count-block">
					<span class="count">1 </span>/<span>12</span>
				</div>
			</div>
		</div>
	</div>

	<article class="house-info">
		<section class="info-cell">
			<div class="info-cell-left">
				<span class="info-name">单价</span><span class="info-text"><em class="or-txt">&yen;6.5</em>元/m²/天</span>
			</div>
			<div class="info-cell-right">
				<span class="info-name">面积</span><span class="info-text"><em class="or-txt">175</em>m²</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left">
				<span class="info-name">装修</span><span class="info-text">精装</span>
			</div>
			<div class="info-cell-right">
				<span class="info-name">最短租期</span><span class="info-text">3年</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left">
				<span class="info-name">交付状态</span><span class="info-text">标准交付</span>
			</div>
			<div class="info-cell-right">
				<span class="info-name">装修免租</span><span class="info-text">一个月</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left">
				<span class="info-name">看房时间</span><span class="info-text">8:00-20:00</span>
			</div>
			<div class="info-cell-right">
				<span class="info-name">是否结佣</span><span class="info-text">一个月</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left one-side">
				<span class="info-name">交付时间</span><span class="info-text">2015-06-21（现房）</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left one-side">
				<span class="info-name">付款方式</span><span class="info-text">押一付三（含发票）</span>
			</div>
		</section>
		<section class="info-txt">
			<p>该广场是一个集商业、办公的综合楼项目，采用高低双塔楼设计，使整体外形增加层次感，有变化及更富趣味性。东南角地处世纪大道及张扬路交汇处，成为场地主入口广场。两座塔楼之间采用玻璃顶棚作为中庭大堂，南北贯通。塔楼A为18层，塔楼B为23层。地下室为三层，用作地下车库和设备用房及人防。</p>
		</section>
	</article>

	<footer class="edit-btn">编辑</footer>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>

</body>
</html>