<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>居乐乐 - 杭州瑞栎网络科技股份有限公司</title>
	<meta name="keywords" content="杭州瑞栎网络科技股份有限公司"/>
	<meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，
公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/publish/publish_demand.css">
</head>
<body>
	<header class="header">
		<span class="icon-back">取消</span>
		<span class="header-title">发布需求</span>
		<span class="header-publish">发布</span>
	</header>

	<article class="form-cells">
		<section class="form-cell">
			<input onblur="testVal()" class="form-input input01" type="text" placeholder="周杰伦">
		</section>
		<section class="form-cell">
			<input onblur="testVal()" class="form-input input02" type="text" placeholder="18956214521">
		</section>
		<section class="form-cell">
			<textarea class="form-area" placeholder="描述一下您的需求，比如黄埔100-200m²,5-6元/m²/天，环境好点，底层，临近地铁。"></textarea>
		</section>
	</article>

	<div class="mask"></div>

	<div class="cancel-alert">
		<p class="title">你确定要退出此次发布？</p>
		<p class="confirm">
			<span class="cancel">取消</span>
			<span class="sure">确定</span>
		</p>
	</div>

	<div class="publish-alert">
		<p class="title">发布需求成功，请稍后</p>
		<p class="confirm">确定</p>
	</div>


	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script>
		$('.icon-back' ).on('tap', function(){
			$('.mask' ).show();
			$('.cancel-alert' ).show();
			$('.cancel' ).on('tap', function(){
				$('.mask' ).hide();
				$('.cancel-alert' ).hide();
			});
			$('.sure' ).on('tap', function(){
				history.back();
			})
		});
		$('.header-publish' ).on('tap', function(){
			$('.mask' ).css('background','#A7A7AA').show();
			$('.publish-alert' ).show();

		})
	</script>
</body>
</html>