$orange = #ED692B
*
  outline none
body
  background-color #efefef
.header
  height 35px
  background-color white
  line-height 35px
  font-size 1.2em
  .icon-back
    position absolute
    top 0
    left 0
    display inline-block
    width 35px
    height 35px
    background url("../images/loading/nav_back_icon@2x.png") no-repeat center
    background-size 12px 18px
  .header_title
    display inline-block
    width 100%
    color $orange
    text-align center
.form-list
  margin-top 15px
  padding-right 15px
  background-color white
  .form-cell
    position relative
    display flex
    height 40px
    line-height 40px
    &-name
      display inline-block
      width 60px
      padding-left 40px
      background url("../images/loading/content_ID_icon@2x.png") no-repeat left 11px center
      background-size 20px 50%
    .code-passwd
      display inline-block
      width 120px
      height 30px
      margin-top 5px
      line-height 30px
      border-radius 5px
      background-color $orange
      font-size .45em
      text-align center
      color white
    .cell-code
      background url("../images/loading/content_verify_icon@2x.png") no-repeat left 13px center
      background-size 13px 50%
    .cell-passwd
      background url("../images/loading/content_password_icon@2x.png") no-repeat left 12px center
      background-size 16px 50%
    .sell-pass
      background url("../images/loading/content_position_icon@2x.png") no-repeat left 10px center
      background-size 20px 50%
    .form-cell-input
      flex 1
      border none

    &:after
      content ''
      position absolute
      bottom -1px
      left 10px
      z-index 4
      display block
      height 1px
      width 100%
      background-color #efefef
.fci-box
  display flex
  width 100%
  .input-box
    display block
    flex 1
    .code_input
      width 100%
      height 38px
      border none
  .drop-down
    background url("../images/loading/nav_back_icon@2x.png") no-repeat right 15px center
    transform rotate(-90deg)
    width 2rem
    margin-top 9px
    padding 4px 9px
    text-align center
    background-size 20% 50%
  .btn_code
    width 5rem
    height 14px
    margin-top 9px
    padding 4px 9px
    border-radius 5px
    background-color $orange
    color #fff
    font-size 14px
    line-height 14px
    text-align center

.bt_box
  display flex
  height 40px
  margin-top 20px
  padding 0 15px
  text-align center
  .btn_login
    display block
    width 100%
    height 40px
    border none
    border-radius 5px
    background-color #C7C7C7
    color #fff
    font-size 1.1rem
    line-height 40px
  .bt-reg
    flex 1
    padding-left 5px
    a
      text-decoration none
      color $orange


  .bt-passwd
    flex 1
    padding-right 10px

    text-align right
    a
      text-decoration none
      color #7A7A7C
  .btn_write
    display block
    margin auto
    font-size .6em
    text-align center
    a
      color $orange

    