$orange = #ED692B
body
  background-color #a0a0a0
  margin 0px
  padding 0px
.header
  display flex
  height 50px
  background-color white
  color $orange
  .icon-back
    width 50px
    height 50px
    display block

    background url("../../images/loading/nav_back_icon@2x.png") no-repeat left 25px  center
    background-size 25%
  .header_title
    flex 1
    padding-right 50px
    line-height 50px
    text-align center
    font-size 2em
.form-cells
  height 30px
  background-color #EFEFF4
  .form-cell
    width 100%
    height 100%
    .form-cell-input
      width 100%
      height 100%
      background none
      border none
.form-colls
  width 100%
  margin-top 20px
  .form-coll
    width 50%
    background-color #EFEFF4
    height 30px
    border-radius 5px
    margin auto
  .form-cell-info
    height 100%
    width 100%
    background none
    border none


.info_box
  background-color white
  padding 20px 15px
  text-align center
  .info_img
    position relative
    width 80px
    height 80px
    border-radius 50%
    color white
    line-height 80px
    margin 0 auto
    font-size 0.8em
    background-color #878787
    &:after
      content ""
      position absolute
      height 1px
      width 100px
      left -18%
      bottom  -10px
      background-color #EFEFF4
.info_cell
  background-color #ffffff
  .info_cells
    display flex
    padding 0 15px
    line-height 40px
    .info-name
      flex 3
      font-size .875em
    .info-content
      flex 4
      text-indent 10px
.image-cell
  display flex
  .image-block
    flex 1
    height 60px
    margin 20px 10px 20px 10px
    border-radius 5px
    text-align center
  .block
    background-color #878787
.btn
  width 100%
  height 45px
  margin-top 20px
  .btn-default
    width 60%
    height 100%
    margin auto
    .btn-block
      width 100%
      height 100%
      font-size 1.2em
      border-radius 5px
      border none
      background-color $orange







































