$orange = #ED692B
body
  background-color #a0a0a0
  margin 0px
  padding 0px
.header
  display flex
  height 50px
  background-color white
  .icon-back
    width 50px
    height 50px
    display block
    background url("../images/loading/nav_back_icon@2x.png") no-repeat left 25px  center
    background-size 25%
  .header_title
    flex 1
    padding-right 50px
    line-height 50px
    text-align center
    font-size 2em
    color $orange
.form-list
  display flex
  .form-coll-input
    width 100%
    background-color #EFEFF4
    .code-text
      width 100%
      background none
      border none
      line-height 30px
.form-header
  background-color white
  margin-top 20px
  .form-cell-input
    width 80%
    height 30px
    margin auto
    margin-top 10px
    .code-input
      width 100%
      height 100%
      background-color #EFEFF4
      border none
      border-radius 5px

.info_box
  background-color white
  padding 20px 15px
  .info_img
    text-align center
    position relative
    width 100px
    height 100px
    border-radius 50%
    line-height 35px
    margin 0 auto
    font-size 1.2em
    background-color #efefef
    &:after
      content ""
      position absolute
      bottom -5px
      z-index 3
      display block
      height 1px
      width 100%
      background-color #efefef
.info_cell
  background-color #ffffff
.image-cell
  display flex
  .image-block
    text-align center
    line-height 30px
    flex 1
    height 60px
    border 1px solid red
    border-radius 5px
    background-color #e15f00
    margin 5px
  .image-back
    width 30%
    height 60px
    border 1px solid red
    border-radius 5px
    background-color #e15f00
    padding 10px
    text-align center
    margin auto
.bt_box
  width 80%
  height 45px
  margin auto
  margin-top 5px
  .btn_login
    width 100%
    border-radius 5px
    height 100%
    border none
    color white




















