<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>find-龙晨印象</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/find/find.css">
</head>
<body>
<header class="header">
	<i class="icon-back">苏州</i>
	<span class="header-title">华府龙城</span>
</header>
<div class="search-box">
	<div class="search-input"><i class="icon-search"></i><span>挑好房，上华府</span></div>
</div>
<div class="slider-box">
	<div class="slider-container">
		<div class="slider-block"></div>
		<div class="slider-block"></div>
		<div class="slider-block"></div>
		<div class="slider-block"></div>
		<div class="slider-block"></div>
	</div>
	<div class="point-box">
		<span class="point-block active"></span>
		<span class="point-block"></span>
		<span class="point-block"></span>
		<span class="point-block"></span>
		<span class="point-block"></span>
	</div>
</div>
<div class="query-box">
	<div class="query-block"><span class="text"></span><i class="icon"></i></div>
	<div class="query-block"><span class="text"></span><i class="icon"></i></div>
	<div class="query-block"><span class="text"></span><i class="icon"></i></div>
	<div class="query-block"><span class="text"></span><i class="icon"></i></div>
	<div class="query-block"><span class="text"></span><i class="icon"></i></div>
</div>
	<div class="down-box">
		<ul><li>1</li></ul>
	</div>
	<div class="down-box">
		<ul><li>2</li></ul>
	</div>
	<div class="down-box">
		<ul><li>3</li></ul>
	</div>
	<div class="down-box">
		<ul><li>3</li></ul>
	</div>
	<article>
		<section class="block-box">
			<div class="img-box"></div>
			<div class="info-box">
				<div class="info-title">东方金融</div>
			<div class="info-address"><span>浦东黄金段位</span></div>
			<div class="info-tag-box"><span>商务中心</span></div>
<div class="info-price"><span>&yen;7<em>元/m<sup>2</sup>/天起</em></span><span>佣金:一个月</span></div>
			</div>
		</section>

		<section class="block-box">
			<div class="img-box"></div>
			<div class="info-box">
				<div class="info-title">东方金融</div>
				<div class="info-address"><span>浦东黄金段位</span></div>
				<div class="info-tag-box"><span>商务中心</span></div>
				<div class="info-price"><span>&yen;7<em>元/m<sup>2</sup>/天起</em></span><span>佣金:一个月</span></div>
			</div>
		</section>
	</article>
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/js/libs/zepto/touch.js"></script>
	<script src="../../public/js/find/find.js"></script>
</body>
</html>