.footer {
  height: 50px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d6d7dc;
  display: flex;
}
.footer .footer-block {
  text-align: center;
  color: #b4b4b4;
  flex: 1;
}
.footer .footer-block .footer-icon {
  width: 50px;
  height: 25px;
  display: block;
  background: url("../../img/bottom_nor_icon04@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
  margin: 0 auto;
}
.footer .footer-block .order {
  background: url("../../img/bottom_nor_icon03@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block .news {
  background: url("../../img/bottom_nor_icon02@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block .info {
  background: url("../../img/bottom_nor_icon01@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block.active {
  color: #ea5404;
}
.footer .footer-block.active .footer-icon {
  background: url("../../img/bottom_press_icon04@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block.active .order {
  background: url("../../img/bottom_press_icon03@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block.active .news {
  background: url("../../img/bottom_press_icon02@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block.active .info {
  background: url("../../img/bottom_press_icon01@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block .publish-icon {
  width: 88px;
  height: 76px;
  display: block;
  background: url("../../img/bottom_icon05@2x.png") no-repeat 28px 6px;
  background-size: 44px 38px;
}
.footer .footer-block .footer-name {
  font-size: 14px;
}
