*
	outline none
@import '../head.styl'

.require
	padding 4px 15px
	color #c5c5c6

.agent_con
	background-color #fff
	padding 10px 0
	.agent_img
		width 65px
		height 65px
		background #878787
		margin 0 auto
		border-radius 50%
		text-align center
		line-height 65px
		color #fff
		font-size 12px

	.form-list
		width 230px
		margin 0 auto
		.form-cell
			margin-top 10px
			.form-cell-input
				width 230px
				border none
				padding 6px 0
				padding-left 10px
				background #efeff4
				border-radius 3px

	.agent-box
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
		margin-top 20px
		padding 0 10px
		.agent_block
			width 100px
			height 63px
			background #878787
			text-align center
			line-height 63px
			border-radius 5px
			color #fff
			font-size 12px
.bt_box
	padding 0 15px
	margin-top 45px
	.btn_login
		border none
		display block
		background #ea5404
		width 100%
		padding 12px 0
		color #fff
		border-radius 5px
		font-size 1.1rem


