<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/publish/publish_search.css">
</head>
<body>
	<header class="header">
		<div class="search-block">
			<i class="search-icon"></i>
			<input type="text" class="search-input" placeholder="挑好房，上乐乐">
		</div>
		<span class="header-cancel" ontouchend="history.back()">取消</span>
	</header>

	<div class="search-box">
		<div class="search-text">
			<span>最近搜索</span>
			<span class="search-clear">清除</span>
		</div>
		<ul class="search-list">
			<li class="search-li">创意产业园</li>
			<li class="search-li">陆家嘴</li>

		</ul>
	</div>




	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>

</body>
</html>