<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>owners-龙晨科技</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/loading/loading-4.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">小业主</span>
	</header>
<article class="form-list">
	<section class="form-coll-input">
		<input class="code-text" type="text" placeholder="必填项">
	</section>
</article>
		<div class="info_box">
			<div class="info_img"><span></span></div>
			<div class="form-header">
				<section class="form-cell-input"><input class="code-input" type="text" placeholder="公司名"></section>
				<section class="form-cell-input"><input class="code-input" type="text" placeholder="企业邮箱/公司总机"></section>
				<section class="form-cell-input"><input class="code-input" type="text" placeholder="联系人"></section>
				<section class="form-cell-input"><input class="code-input" type="text" placeholder="联系方式"></section>
			</div>
		</div>
	<article class="form-list">
		<section class="form-coll-input">
			<input class="code-text" type="text" placeholder="必填项">
		</section>
	</article>

		<div class="info_cell">
			<div class="info_box">
				<div class="form-header">
					<section class="form-cell-input "><input class="code-input" type="text" placeholder="微信号"></section>
				</div>
			</div>

			<div class="image-cell">
				<div class="image-block">
					<img src="" alt="">
					<p class="title">微信二维码</p>
				</div>
				<div class="image-block">
					<img src="" alt="">
					<p class="title">营业执照</p>
				</div>
				<div class="image-block">
					<img src="" alt="">
					<p class="title">运营/租赁协议</p>
				</div>
			</div>
		</div>
	<div class="bt_box">
		<button class="btn_login">登录</button>
	</div>
	</body>
	</html>
