<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>loading-1-龙晨科技</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/loading/loading-1.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">登陆</span>
	</header>
	<article class="form-list">
		<section class="form-cell">
			<span class="form-cell-name">账号:</span>
			<input class="form-cell-input" type="text" placeholder="请输入您的手机号">
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-passwd">密码:</span>
			<input class="form-cell-input" type="password" placeholder="请输入您的账号密码">
		</section>
	</article>

	<div class="bt_box">
		<button class="btn_login">登录</button>
	</div>
	<div class="bt_box">
		<span class="bt-reg"><a href="">注册</a></span>
		<span class="bt-passwd"><a href="/loading/loading-2.html">忘记密码？</a></span>
	</div>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/js/libs/zepto/touch.js"></script>
	<script src="../../public/js/first-page/ntp.js"></script>
	<script src="../../public/js/loading/loading-1.js"></script>
</body>
</html>