<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-COMPATIBLE" content="ie =edge ">
	<meta charset="UTF-8">
	<title>Sublease-龙晨科技</title>
	<link rel="stylesheet" href="../public/css/loading/loading-6.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">转租人</span>
	</header>
	<div class="form-cells">
		<div class="form-cell">
			<input type="text" class="form-cell-input" placeholder="必填项">
		</div>
	</div>
	<div class="info_box">
		<div class="info_img"><span>添加头像</span></div>
<div class="form-colls">
			<div class="form-coll">
				<input type="text" class="form-cell-info" placeholder="必填项">
				</div>
</div>
		<div class="form-colls">
			<div class="form-coll">
				<input type="text" class="form-cell-info" placeholder="必填项">
			</div>
		</div>

		<div class="image-cell">
			<div class="image-block">
				<img src="" alt="">
				<p class="title"></p>
			</div>
			<div class="image-block block">
				<img src="" alt="">
				<p class="title">房屋租赁</p>
			</div>
			<div class="image-block">
				<img src="" alt="">
				<p class="title"></p>
			</div>
		</div>

	</div>
	<div class="form-cells">
		<div class="form-cell">
			<input type="text" class="form-cell-input" placeholder="必填项">
		</div>
	</div>
	<div class="info_cell">
		<div class="image-cell">
			<div class="image-block">
				<img src="" alt="">
				<p class="title"></p>
			</div>
			<div class="image-block block">
				<img src="" alt="">
				<p class="title">名片正面</p>
			</div>
			<div class="image-block">
				<img src="" alt="">
				<p class="title"></p>
			</div>
		</div>
	</div>
	<div class="btn">
		<div class="btn-default">
			<button type="button" class="btn-block">完成</button>
		</div>
	</div>


</body>
</html>