<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sublease-龙晨科技</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/loading/loading-4.css">
</head>
<body>
	<header class="header">
		<i class="icon-back"></i>
		<span class="header_title">转租人</span>
	</header>
	<article class="form-list">
		<section class="form-coll-input">
			<input class="code-text" type="text" placeholder="必填项">
		</section>
	</article>
	<div class="info_box">
		<div class="info_img"><span>头像</span></div>
		<div class="form-header">
			<section class="form-cell-input"><input class="code-input" type="text" placeholder="姓名"></section>
			<section class="form-cell-input"><input class="code-input" type="text" placeholder="联系方式"></section>
	</div>
	</div>
	<div class="info_cell">
		<div class="image-cell">
		<div class="image-back">
			<img src="" alt="">
			<p class="title">房屋租赁合同</p>
		</div>
	</div>
	</div>

	<article class="form-list">
		<section class="form-coll-input">
			<input class="code-text" type="text" placeholder="必填项">
		</section>
	</article>

	<div class="info_cell">
		<div class="image-cell">
			<div class="image-back">
				<img src="" alt="">
				<p class="title">明信片正面</p>
			</div>
		</div>
	</div>
	<div class="bt_box">
		<button class="btn_login">完成</button>
	</div>

</body>
</html>
