<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_edit.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">个人资料</span>
	</header>

	<div class="info_cells">
		<div class="info-cell">
			<span class="info-name">头像</span>
			<span class="info-content head"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">简介</span>
			<span class="info-content"><input type="text" value="简简单单的升华"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">企业邮箱/公司总机</span>
			<span class="info-content"><input type="text" value="823546415@qq.com"></span>
			<span class="complete">完成</span>
		</div>
		<div class="info-cell">
			<span class="info-name">联系人</span>
			<span class="info-content"><input type="text" value="张三"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">联系方式</span>
			<span class="info-content"><input type="text" value="18956024163"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">微信号码</span>
			<span class="info-content"><input type="text" value="18956024163"></span>
		</div>

		<div class="image-cell">
			<div class="image-block">
				<div class="box-img"></div>
				<p class="title">微信二维码</p>
			</div>
			<div class="image-block">
				<div class="box-img"></div>
				<p class="title">营业执照</p>
			</div>
			<div class="image-block">
				<div class="box-img"></div>
				<p class="title">租售代理协议</p>
			</div>
		</div>
	</div>
	<div class="mask"></div>
	<div class="upload-box">
		<ul>
			<li>拍照</li>
			<li><input type="file" class="file">从相册选择</li>
			<li class="cancel">取消</li>
		</ul>
	</div>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/info/href.js"></script>
</body>
</html>