<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_publish02.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">我发布的需求</span>
	</header>
	<article class="demand-cells">
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">一个新的租房需求</span>
				<i class="d-t-time">08/04/13:06</i>
			</div>
			<p class="demand-info">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁
			</p>
			<div class="demand-footer">
				<span class="btn-detail">了解详情</span>
			</div>
		</section>
	</article>


</body>
</html>