<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_index.css">
</head>
<body>
	<div class="login_box">
		<div class="login_img"></div>
		<div class="login_con" id="login_con">点击登录/注册</div>
	</div>
	<div class="s_box">
		<div class="s_left"><span class="count">0</span><span class="title"> 收藏</span></div>
		<div class="s_right"><span class="count">0</span><span class="title"> 积分</span></div>
	</div>

	<div class="link_cell">
		<span>我发布的需求</span>
	</div>
	<div class="link_cell cell_two">
		<span>我发布的房源</span>
	</div>
	<div class="link_cell cell_three">
		<span>我预约的房源</span>
	</div>
	<div class="link_cell cell_four">
		<span>历史交易</span>
	</div>
	<div class="link_cell cell_five">
		<span>过期房源</span>
	</div>

	<footer class="footer">
		<div class="footer-block index-icon">
			<i class="footer-icon"></i>
			<span class="footer-name">首页</span>
		</div>
		<div class="footer-block order-icon">
			<i class="footer-icon order"></i>
			<span class="footer-name">预约</span>
		</div>
		<div class="footer-block publish_icon">
			<em class="publish-icon"></em>
		</div>
		<div class="footer-block news-icon">
			<i class="footer-icon news"></i>
			<span class="footer-name">信息</span>
		</div>
		<div class="footer-block info-icon active">
			<i class="footer-icon info"></i>
			<span class="footer-name">我</span>
		</div>
	</footer>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/info/href.js"></script>
	<script src="../public/js/jump.js"></script>
</body>
</html>