<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_overdue.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">我预约的房源</span>
	</header>

	<article class="overdue-list">
		<section class="overdue-cell">
			<div class="overdue-img">
				<img src="../public/img/content_img_list@2x.png" alt="" width="128">
			</div>
			<div class="overdue-con">
				<h4>东方金融中心</h4>
				<p>浦东-八佰伴</p>
				<div class="overdue-btn">商务中心</div>
				<p><span class="overdue-price">￥7</span> 元/平米/天起</p>
			</div>
			<div class="overdue-tips">
				<p class="overdued">待接单</p>
				<p class="overdue-title">佣金：1个月</p>
			</div>
		</section>
		<section class="overdue-cell">
			<div class="overdue-img">
				<img src="../public/img/content_img_list@2x.png" alt="" width="128">
			</div>
			<div class="overdue-con">
				<h4>东方金融中心</h4>
				<p>浦东-八佰伴</p>
				<div class="overdue-btn">商务中心</div>
				<p><span class="overdue-price">￥7</span> 元/平米/天起</p>
			</div>
			<div class="overdue-tips">
				<p class="overdued">完成</p>
				<p class="overdue-title">佣金：1个月</p>
			</div>
		</section>
	</article>

</body>
</html>