<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>居乐乐 - 杭州瑞栎网络科技股份有限公司</title>
	<meta name="keywords" content="杭州瑞栎网络科技股份有限公司"/>
	<meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，
公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/setting.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">设置</span>
	</header>
	<article class="setting_con">
		<section class="setting_cell">
			<span class="need">接收需求</span>
			<span class="setting_btn"></span>
		</section>
		<section class="setting_cell about">
			<span>关于</span>
		</section>
		<section class="setting_cell clear" id="clear">
			<span>清除缓存</span>
			<span class="clear_count">7.02M</span>
		</section>
	</article>

	<div class="logout_btn">
		退出登录
	</div>

	<div class="mask"></div>
	<div class="cancel-alert">
		<p class="title">你确定要清理缓存么？</p>
		<p class="confirm">
			<span class="cancel">取消</span>
			<span class="sure">确定</span>
		</p>
	</div>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/info/href.js"></script>

</body>
</html>