<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/publish/house_detail.css">
</head>
<body>
	<header class="header">
		<span class="icon-back"></span>
	</header>
	<div class="slider-box">
		<div class="slider-container">
			<div class="slider-block">
				<img src="../public/img/banner_img03@2x.png" alt="" width="375">
			</div>
		</div>
	</div>

	<article class="house-info">
		<section class="info-cell">
			<div class="info-cell-left">
				<span class="info-name">单价</span><span class="info-text"><em class="or-txt">&yen;6.5</em>元/m²/天</span>
			</div>
			<div class="info-cell-right">
				<span class="info-name">面积</span><span class="info-text"><em class="or-txt">175</em>m²</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left">
				<span class="info-name">装修</span><span class="info-text">精装</span>
			</div>
			<div class="info-cell-right">
				<span class="info-name">最短租期</span><span class="info-text">3年</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left">
				<span class="info-name">交付状态</span><span class="info-text">标准交付</span>
			</div>
			<div class="info-cell-right">
				<span class="info-name">装修免租</span><span class="info-text">一个月</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left">
				<span class="info-name">看房时间</span><span class="info-text time-house">8:00-20:00</span>
			</div>
			<div class="info-cell-right">
				<span class="info-name">是否结佣</span><span class="info-text">一个月</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left one-side">
				<span class="info-name">交付时间</span><span class="info-text">2015-06-21（现房）</span>
			</div>
		</section>
		<section class="info-cell">
			<div class="info-cell-left one-side">
				<span class="info-name">付款方式</span><span class="info-text">押一付三（含发票）</span>
			</div>
		</section>
		<section class="info-txt">
			<p>该广场是一个集商业、办公的综合楼项目，采用高低双塔楼设计，使整体外形增加层次感，有变化及更富趣味性。东南角地处世纪大道及张扬路交汇处，成为场地主入口广场。两座塔楼之间采用玻璃顶棚作为中庭大堂，南北贯通。塔楼A为18层，塔楼B为23层。地下室为三层，用作地下车库和设备用房及人防。</p>
		</section>
	</article>

	<footer class="edit-btn booking-room">预约看房</footer>

	<div class="mask"></div>

	<div class="cancel-alert">
		<p class="title">请选择看房时间</p>
		<input type="text" placeholder="2016/08/08" class="time-input">
		<p class="confirm">
			<span class="cancel">取消</span>
			<span class="sure">确定</span>
		</p>
	</div>

	<div class="booking-alert">
		<p class="title">预约看房成功</p>
		<p class="confirm">
			<span class="cancel">返回</span>
			<span class="sure">查看预约详情</span>
		</p>
	</div>


	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/order/order.js"></script>

</body>
</html>