<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/order/building_detail.css">
</head>
<body>
	<header class="header">
		<span class="icon-back icon"></span>
		<span class="icon-share icon"></span>
		<span class="icon-collect icon"></span>
	</header>
	<div class="slider-box">
		<div class="slider-container">
			<div class="slider-block">
				<img src="../public/img/banner_img02@2x.png" alt="" width="375">
			</div>
			<div class="slider-text">
				<div class="price-block">
					<span class="price">&yen;354615</span><span> 元/月</span>
				</div>
				<div class="count-block">
					<span class="count">1 </span>/<span>12</span>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-info">
		<div class="slider-block">
			<div class="slider-con">
				<h3>东方金融中心</h3>
				<h4>浦东-八佰伴</h4>
				<p>步行7分钟到地铁站</p>
			</div>
			<div class="map-block">
				<i class="icon"></i>
				<span class="map-txt">地图查看</span>
			</div>
		</div>
		<div class="slider-area">
			房型面积：100m²-600m²
		</div>
	</div>

	<article class="all-house">
		<div class="house-title">全部房型</div>
		<section class="house-cell even">
			<div class="house-img"></div>
			<div class="house-con">
				<span class="house-name">创客空间</span>
				<span>精装</span>
				<span>700m²</span>
			</div>
			<div class="house-price">
				<span><em class="price">&yen;4200</em>元/月</span>
			</div>
			<div class="house-order">
				<span>预约看房</span>
			</div>
		</section>
		<section class="house-cell">
			<div class="house-img"></div>
			<div class="house-con">
				<span class="house-name">创客空间</span>
				<span>精装</span>
				<span>700m²</span>
			</div>
			<div class="house-price">
				<span><em class="price">&yen;4200</em>元/月</span>
			</div>
			<div class="house-order">
				<span>预约看房</span>
			</div>
		</section>
		<section class="house-cell even">
			<div class="house-img"></div>
			<div class="house-con">
				<span class="house-name">创客空间</span>
				<span>精装</span>
				<span>700m²</span>
			</div>
			<div class="house-price">
				<span><em class="price">&yen;4200</em>元/月</span>
			</div>
			<div class="house-order">
				<span>预约看房</span>
			</div>
		</section>
		<section class="house-cell">
			<div class="house-img"></div>
			<div class="house-con">
				<span class="house-name">创客空间</span>
				<span>精装</span>
				<span>700m²</span>
			</div>
			<div class="house-price">
				<span><em class="price">&yen;4200</em>元/月</span>
			</div>
			<div class="house-order">
				<span>预约看房</span>
			</div>
		</section>
		<section class="house-cell even">
			<div class="house-img"><div class="img-tips">已出租</div></div>
			<div class="house-con">
				<span class="house-name">创客空间</span>
				<span>精装</span>
				<span>700m²</span>
			</div>
			<div class="house-price">
				<span><em class="price">&yen;4200</em>元/月</span>
			</div>
			<div class="house-order">
				<span>预约看房</span>
			</div>
		</section>
		<section class="house-cell">
			<div class="more-house">更多房型</div>
		</section>
	</article>

	<article class="building-info">
		<div class="building-title">大厦信息</div>
		<div class="building-cell">
			<span class="building-name">物业：</span>
			<input disabled type="text" class="building-input" placeholder="上海浦江物业有限公司">
		</div>
		<div class="building-cell">
			<span class="building-name">层数：</span>
			<input disabled type="text" class="building-input" placeholder="23层">
		</div>
		<div class="building-cell">
			<span class="building-name">层高：</span>
			<input disabled type="text" class="building-input" placeholder="标准4.5米，净高2.75米，大堂14.5米">
		</div>
		<div class="building-cell">
			<span class="building-name">车位：</span>
			<input disabled type="text" class="building-input" placeholder="地上30个，地下400个，1250元/月">
		</div>
		<div class="building-cell">
			<span class="building-name">电梯：</span>
			<input disabled type="text" class="building-input" placeholder="客梯8部，货梯2部，三菱电梯" >
		</div>
		<div class="building-cell">
			<span class="building-name">空调：</span>
			<input disabled type="text" class="building-input" placeholder="集中式中央空调">
		</div>
		<div class="building-cell">
			<span class="building-name company">入驻企业：</span>
			<input disabled type="text" class="building-input" placeholder="顺诚商业地产（房地产/建筑）、大大集团">
		</div>
		<div class="building-cell">
			<span class="building-name">地铁：</span>
			<input disabled type="text" class="building-input" placeholder="距离世纪大道站步行7分钟">
		</div>

		<div class="building-img">
			<img src="../public/img/content_img_home02@2x.png" alt="" width="351px">
			<div class="img-info">
				<p>上海东方金融广场交通便利，紧邻地铁2、4、6、9号线世纪大道站，距环球金融、金茂大厦、东方明珠等著名建筑很近，步行大约20分钟。上海东方金融广场地处上海浦东新区陆家嘴金融贸易区2-1-1、2地块，由相互垂直的崂山东路和张杨路，以及世纪大道所围合而成，大致为一个等腰直角三角形。
					<br>该广场是一个集商业、办公的综合楼项目，采用高低双塔楼设计，使整体外形增加层次感，有变化及更富趣味性。东南角地处世纪大道及张扬路交汇处，成为场地主入口广场。两座塔楼之间采用玻璃顶棚作为中庭大堂，南北贯通。塔楼A为18层，塔楼B为23层。地下室为三层，用作地下车库和设备用房及人防。
				</p>
			</div>
		</div>
	</article>

	<article class="around-house">
		<div class="around-title">周边房源</div>
		<section class="around-cell">
			<div class="around-img">
				<img src="../public/img/content_img_home03@2x.png" width="300px" alt="">
			</div>
			<div class="around-txt">
				<div class="around-name">生命人寿大厦</div>
				<div class="around-price"><span class="price">&yen;6</span>元/m²/天起</div>
			</div>
		</section>
	</article>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
</body>
</html>