<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/order/order_detail.css">
</head>
<body>
	<header class="header">
		<span class="cancel cancel-upload">取消</span>
		<span class="header-title">上传合同书</span>
		<span class="header-conf upload-conf">上传</span>
	</header>

	<div class="upload-title">请按照要求添加照片</div>

	<section class="upoad-box">
		<div class="upload-img">
			<span class="upload-icon"></span>
			<span class="upload-txet">合同第一页</span>
			<input type="file" class="upload-file">
		</div>
	</section>
	<section class="upoad-box">
		<div class="upload-img">
			<span class="upload-icon"></span>
			<span class="upload-txet">合同最后一页</span>
			<input type="file" class="upload-file">
		</div>
	</section>


	<div class="mask"></div>

	<div class="publish-alert upload-alert">
		<p class="title">合同上传成功，后台正在审核</p>
		<p class="confirm">确定</p>
	</div>

	<div class="cancel-alert">
		<p class="title">您确定要取消本次上传</p>
		<p class="confirm">
			<span class="cancel">取消</span>
			<span class="sure booking-conf">确定</span>
		</p>
	</div>


	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/order/order.js"></script>
</body>
</html>