<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/login/login.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">登录</span>
	</header>
	<article class="form-list">
		<section class="form-cell">
			<span class="form-cell-name">账号：</span>
			<input onblur="testVal()" class="form-cell-input" type="text" placeholder="请输入您的手机号" id="username">
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-passwd">密码：</span>
			<input onblur="testVal()" class="form-cell-input" type="password" placeholder="请输入您的账号密码" id="password">
		</section>
	</article>
	<div class="bt_box">
		<input type="submit" class="btn_login" value="登录" id="btn">
	</div>
	<footer class="footer">
		<span class="footer_reg">注册</span>
		<span class="footer_pass">忘记密码？</span>
	</footer>


	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/login/login.js"></script>

</body>
</html>