<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/login/register.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">忘记密码</span>
	</header>
	<article class="form-list">
		<section class="form-cell">
			<span class="form-cell-name cell-user">账号：</span>
			<input class="form-cell-input" type="text" placeholder="请输入您的手机号">
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-validate">验证码：</span>
			<input class="form-cell-input" type="text" placeholder="请输入验证码">
			<span class="cell-code" id="cell-code">获取验证码</span>
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-passwd">密码：</span>
			<input class="form-cell-input" type="password" placeholder="请输入您的登录密码">
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-passwd">密码：</span>
			<input class="form-cell-input" type="password" placeholder="请输入您的登录密码">
		</section>
	</article>

	<div class="bt_box">
		<input type="submit" class="btn_reg" value="确定">
	</div>

	<script>

	var code = document.getElementById('cell-code');

	var wait=60;

	function time(o) {

		if (wait == 0) {
			o.innerHTML="获取验证码";
			o.style.background = '';
			wait = 60;
		}
		else {
			o.innerHTML=wait+'s后重新获取';
			o.style.background = '#c7c7c7';
			wait--;
			setTimeout(function() {time(o)},1000)
		}
	}

	code.addEventListener('touchend', function(e){
		time(this);
	})
	</script>
</body>
</html>