<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>居乐乐 - 杭州瑞栎网络科技股份有限公司</title>
	<meta name="keywords" content="杭州瑞栎网络科技股份有限公司"/>
	<meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，
公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/login/reg_agent.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">代理商</span>
	</header>
	<div class="require">必填项</div>
	<div class="agent_con">
		<div class="agent_img">添加头像</div>
		<div class="form-list">
			<div class="form-cell">
				<input class="form-cell-input" type="text" placeholder="公司名">
			</div>
			<div class="form-cell">
				<input class="form-cell-input" type="text" placeholder="企业邮箱/公司总机">
			</div>
			<div class="form-cell">
				<input class="form-cell-input" type="text" placeholder="联系人">
			</div>
			<div class="form-cell">
				<input class="form-cell-input" type="text" placeholder="联系方式">
			</div>
		</div>
	</div>
	<div class="require">选填项</div>
	<div class="agent_con">
		<div class="form-list">
			<div class="form-cell">
				<input class="form-cell-input" type="text" placeholder="微信号码">
			</div>
		</div>
		<div class="agent-box">
			<div class="agent_block">
				微信二维码
			</div>
			<div class="agent_block">
				营业执照
			</div>
			<div class="agent_block">
				租售代理协议
			</div>
		</div>
	</div>

	<div class="bt_box">
		<input type="submit" class="btn_login" value="完成">
	</div>
</body>
</html>