<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/login/register.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">注册</span>
	</header>
	<article class="form-list">
		<section class="form-cell">
			<span class="form-cell-name cell-user">账号：</span>
			<input id="tel" onblur="testReg()" class="form-cell-input" type="text" placeholder="请输入您的手机号">
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-validate">验证码：</span>
			<input id="code" onblur="testReg()" class="form-cell-input" type="text" placeholder="请输入验证码">
			<span class="cell-code" id="cell-code">获取验证码</span>
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-passwd">密码：</span>
			<input id="pass" onblur="testReg()" class="form-cell-input" type="password" placeholder="请输入您的登录密码">
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-passwd">密码：</span>
			<input id="passwd" onblur="testReg()" class="form-cell-input" type="password" placeholder="请输入您的登录密码">
		</section>
		<section class="form-cell">
			<span class="form-cell-name cell-iden">身份：</span>
			<!--<input data-val="1" id="iden" onblur="testReg()" class="form-cell-input iden" type="text" placeholder="经纪人">-->
			<div data-val="1" class="form-cell-input iden" onfocus="show()" onblur="testReg()">经纪人</div>
			<div class="cell-box">
				<ul class="cell-list">
					<li data-val="1" class="cell-li">经纪人</li>
					<li data-val="2" class="cell-li">小业主</li>
					<li data-val="3" class="cell-li">运营商</li>
					<li data-val="4" class="cell-li">代理商</li>
					<li data-val="5" class="cell-li">开发商</li>
				</ul>
			</div>
		</section>
	</article>

	<div class="bt_box">
		<input type="submit" class="btn_reg" value="注册">
	</div>

	<footer class="footer">
		<p>注册即代表同意<a href="#">《活力矩阵用户协议》</a></p>
	</footer>

	<div class="mask"></div>

	<div class="publish-alert">
		<p class="title">注册完成，等待后天确认</p>
		<p class="confirm">确认</p>
	</div>


	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/login/login.js"></script>
	<script>
		var code = document.getElementById('cell-code');
		var wait=60;
		function time(odel) {
			if (wait == 0) {
				odel.innerHTML="获取验证码";
				odel.style.background = '';
				wait = 60;
			}
			else {
				odel.innerHTML=wait+'s后重新获取';
				odel.style.background = '#c7c7c7';
				wait--;
				setTimeout(function() {time(odel)},1000)
			}
		}
		code.addEventListener('touchend', function(e){
			time(this);
		})
	</script>
</body>
</html>