$orange = #ED692B
body
  background-color #EFEFF4
  margin 0px
  padding 0px
.header
  display flex
  height 50px
  background-color white
  border-bottom 1px solid #EFEFF4
  .icon-back
    width 50px
    height 50px
    display block
    background url("../../images/loading/nav_back_icon@2x.png") no-repeat left 25px  center
    background-size 25%
  .header_title
    flex 1
    line-height 50px
    text-align center
    font-size 2em
.spacing
  margin-bottom 10px
  .icon-set
    width 50px
    height 50px
    display block
    background url("../../images/set/nav_set_icon@2x.png") no-repeat center
    background-size 40%
.info_box
  background-color white
  padding 20px 15px
  .info_img
    width 80px
    height 80px
    border-radius 50%
    line-height 35px
    margin 0 auto
    font-size 2em
    background-color yellow
  .info_name
    text-align center
    line-height 50px
    font-size 2rem
    font-weight bold
  .info_desc
    text-align center
    line-height 30px
    font-weight bold
    color #878787
  .info_edit
    padding 8px 14px
    border 1px solid $orange
    text-align center
    line-height 30px
    margin 0 auto
    color $orange
    border-radius 5px
    width 6em
.info_cell
  margin-top 20px
  background-color #ffffff
  .info-bottom
    border-top 10px solid #EFEFF4
  .info_cells
    display flex
    position relative
    padding 0 15px
    line-height 40px
    border-bottom 1px solid #EFEFF4

    .info-img
      height 30%
      margin-left -15px
    .info-nam
      flex 8
      line-height 100px
      font-size 1.2em
    .info-images
      width 80px
      margin-top 10px
    .images
      width 20px
      height 20px
      margin-top 10px
      margin-right 10px
    .right-info
      text-align end
      font-size 2em
    .info-name
      flex 3
      font-size .875em
    .info-content
      flex 4
      text-indent 10px
      a
        text-decoration none
        color #848484
    .right-content
      flex 3
      line-height 95px
      font-size 2.5em
      margin-right -52px
    .info-name-title
      flex 1
      position relative
      color #a7a7a3
      text-align center
      &:after
        content ""
        position absolute
        display block
        right 0
        top 2px
        height 35px
        width 1px
        background-color #a7a7a3
      &:last-child:after
        content ""
        display none
.image-cell
  display flex
  .image-block
    flex 1
    text-align center
    margin 20px 5px 20px 5px
    .image-cell-block
      background-color #878787
      height 80px
      border-radius 5px
  .title
    font-size .9em
    font-weight bold
    color #878787



















































