@import '../head.styl'
input
	border none
	outline none
	font-family Microsoft Yahei
.header
	.header-title
		color #323232

.form-cells
	.form-cell
		padding 0 15px
		margin-top 10px
		.form-input
			width 95%
			height 40px
			line-height 40px
			background-color #fff
			border 1px solid #d6d7dc
			border-radius 5px
			padding-left 5%
			font-size 14px

.submit-block
	padding 15px
	.btn
		width 100%
		padding 15px
		border-radius 5px
		color #ea5404
		background-color #fff
		border 1px solid #d6d7dc

@import '../mask.styl'



