@import '../head.styl'
input
	border none
	outline none
	font-family Microsoft Yahei
.header
	.icon-back
		background transparent
		text-indent 1em
	.header-title
		color #323232
	.header-publish
		color #ea5404
		padding-right 15px

.form-cells
	.form-cell
		padding 0 15px
		margin-top 10px
		.form-input
		.form-area
			width 95%
			height 40px
			line-height 40px
			background-color #fff
			border 1px solid #d6d7dc
			border-radius 5px
			padding-left 5%
			font-size 14px
		.form-area
			height 300px
			line-height 24px
			padding-top 10px
			font-family Microsoft Yahei

@import '../mask.styl'