<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>set-龙晨科技</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/personal-information/index.css">
</head>
<body>
	<header class="header">
		<a href="/I/index.html"><i class="icon-back"></i></a>
		<span class="header_title">设置</span>
	</header>
	<div class="info_cell">
		<div class="info_cells">
			<img src="" alt="">
			<span class="info-name">接收需求</span>
			<span class="info-content"></span>
		</div>

		<div class="info_cells">
			<img src="" alt="">
			<span class="info-name">关于</span>
			<span class="info-content right-content">&gt;</span>
		</div>

		<div class="info_cells">
			<img src="" alt="">
			<span class="info-name">清除缓存</span>
			<span class="info-content right-content">&gt;</span>
		</div>
		<div class="info_cells">
			<img src="" alt="">
			<span class="info-name">微信号码</span>
			<span class="info-content">76574</span>
		</div>

	</div>


</body>
</html>
