<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>居乐乐 - 杭州小蓓网络科技有限公司</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/msg/msg_news.css">
</head>
<body>
	<header class="tab-box">
		<ul class="tab-bar">
			<li class="tab-bar-cell active">消息</li>
			<li class="tab-bar-cell">通知</li>
			<li class="tab-bar-cell">需求<span class="num">3</span></li>
		</ul>
	</header>

	<!--消息-->
	<article class="demand-cells active">
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦!</span>
			</div>
			<p class="demand-info">
				霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
			</p>

			<p class="demand-time">08/04/13:06</p>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦!</span>
			</div>
			<p class="demand-info">
				霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
			</p>

			<p class="demand-time">08/04/13:06</p>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦!</span>
			</div>
			<p class="demand-info">
				霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
			</p>

			<p class="demand-time">08/04/13:06</p>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦!</span>
			</div>
			<p class="demand-info">
				霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
			</p>

			<p class="demand-time">08/04/13:06</p>
		</section>
	</article>

	<!--通知-->
	<article class="demand-cells notice-cells">
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">房源维护提示</span>
				<i class="d-t-time">08/04/13:06</i>
			</div>
			<p class="demand-info">
				您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。
			</p>
			<p class="demand-footer">地址：徐汇-龙华-科技大厦</p>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">房源维护提示</span>
				<i class="d-t-time">08/04/13:06</i>
			</div>
			<p class="demand-info">
				您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。
			</p>
			<p class="demand-footer">地址：徐汇-龙华-科技大厦</p>
		</section>
	</article>
	<!--需求-->
	<article class="demand-cells">
		<section class="demand-cell">
			<div class="demand-title bg-title">
				<span class="d-t-name">一个新的租房需求</span>
				<i class="d-t-tag">租户</i>
			</div>
			<p class="demand-info">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁
			</p>
			<div class="demand-footer">
				<em class="demand-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="demand-time">08/04/13:06</em>
			</div>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">一个新的租房需求</span>
				<i class="d-t-tag broker">经纪人</i>
			</div>
			<p class="demand-info">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁
			</p>
			<div class="demand-footer">
				<em class="demand-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="demand-time">08/04/13:06</em>
			</div>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">一个新的租房需求</span>
				<i class="d-t-tag investment">招商</i>
			</div>
			<p class="demand-info">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁
			</p>
			<div class="demand-footer">
				<em class="demand-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="demand-time">08/04/13:06</em>
			</div>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">一个新的租房需求</span>
				<i class="d-t-tag agent">代理商</i>
			</div>
			<p class="demand-info">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁
			</p>
			<div class="demand-footer">
				<em class="demand-time"></em>
				<span class="btn-detail">了解详情</span>
				<em class="demand-time">08/04/13:06</em>
			</div>
		</section>
	</article>

	<footer class="footer">
		<div class="footer-block index-icon">
			<i class="footer-icon"></i>
			<span class="footer-name">首页</span>
		</div>
		<div class="footer-block order-icon">
			<i class="footer-icon order"></i>
			<span class="footer-name">预约</span>
		</div>
		<div class="footer-block publish_icon">
			<em class="publish-icon"></em>
		</div>
		<div class="footer-block news-icon active">
			<i class="footer-icon news"></i>
			<span class="footer-name">信息</span>
		</div>
		<div class="footer-block info-icon">
			<i class="footer-icon info"></i>
			<span class="footer-name">我</span>
		</div>
	</footer>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/msg/msg.js"></script>
	<script src="../public/js/jump.js"></script>
</body>
</html>