$orange = #ED692B
body
	background-color #EFEFF4
ul li
	list-style none
	text-align center
	line-height: 20px;
	background-color: white;
	margin: 5px 10% 5px 0px;
.header
	display flex
	height 50px
	background-color white
	.icon-back
		display block
		width 50px
		height 50px
		background url("../../images/set/nav_icon_back@2x.png")no-repeat center
		background-size 25%
	.header-title
		flex 1
		padding-right 50px
		line-height 50px
		text-align center
.header
	position absolute
	top 0
	z-index 3
	width 100%
	color #fff
	background-color transparent
	.icon-back
		width 65px
		padding-left 15px
		background transparent url("../../images/index/nav_icon_down@2x.png") no-repeat left 50px center
		background-size 12px 6px
		line-height 50px
		font-style normal
	.header-title
		padding-right 80px
.search-box
	position absolute
	top 50px
	right 15px
	left 15px
	z-index 5
	.search-input
		height 30px
		border-radius 3px
		background-color #f1f1f1
		text-align center
		line-height 30px
		color #999999
		.icon-search
			display inline-block
			width 30px
			height 30px
			background url("../../images/index/nav_icon_search@2x.png") no-repeat center
			background-size 16px
			vertical-align bottom
.slider-box
	position relative
	height 272px
	overflow hidden
	.slider-container
		overflow hidden
		&:after
			content ""
			display block
			visibility hidden
			height 0
			clear both
.slider-block
	float left
	&.slider-block1
		background url("../../images/first-page/content_img_home03@2x.png") no-repeat center
	&.slider-block2
		background url("../../images/first-page/content_img_home01@2x.png") no-repeat center
	&.slider-block3
		background url("../../images/first-page/content_img_list@2x.png") no-repeat center
	&.slider-block4
		background url("../../images/first-page/content_img_home03@2x.png") no-repeat center
	&.slider-block5
		background url("../../images/first-page/banner_img@2x.png") no-repeat center
.point-box
	position absolute
	bottom 10%
	z-index 5
	left 32%
	height 16px
	text-align center
	.point-block
		display inline-block
		width 16px
		height 16px
		background url("../../images/index/banner_icon_point_nor@2x.png") no-repeat center
		background-size 10px
	.active
		background url("../../images/index/banner_icon_point_press@2x.png") no-repeat center
		background-size 10px
.query-box
	display flex
	width 100%
	height 50px
	margin-top 10px
	background-color #fff
	.query-block
		flex 1
		text-align center
		.active
			background-color #00a5e0
		.icon
			display block
			height 15px
			background url("../../images/index/content_icon02_nor@2x.png") no-repeat center
	.query-price
		display block
		width 60px
		height 30px
		background url("../../images/index/content_icon01_nor@2x.png") no-repeat center
		background-size 30px
	.active-down
		background url("../../images/index/content_icon01_down@2x.png") no-repeat center
		background-size 30px
	.active-up
		background url("../../images/index/content_icon01_litre@2x.png") no-repeat center
		background-size 30px
.down-box
	display none
.block-box
	display flex
	padding 15px
	background-color #fff
	margin-bottom 10px
	.img-box
		flex 2
	.info-box
		flex 5
		.info-title
			display flex
			.x-title
				display block
				flex 1
				font-size 1.1rem
			.icon
				flex 1
				height: 26px;
				background url("../../images/first-page/collect_icon_nor@2x.png") no-repeat right
				background-size 20% 60%
			.ective
				flex 1
				height: 26px;
				background url("../../images/first-page/collect_icon_press@2x.png") no-repeat right
				background-size 25% 70%
		.info-address
			width 90px
			font-size 0.6em
			color #848484
		.info-tag-box
			width 80px
			border-radius 5px
			border 1px solid orange
			font-size 0.8em
			text-align center
			color orange
			margin-top 10px
	.info-price
		display flex
		.x-price
			flex 1
			line-height 50px
			font-size 0.8em
			color #848484
			em
				font-style normal
				color orange
		.y-price
			flex 1
			display block
			font-size 0.8em
			line-height 50px
			color #848484









