
.footer-notice
  position absolute
  bottom 0px
  overflow hidden
  background-color white
  width 100%
  height 45px
  text-align center
  .footer-cells
    display flex
    width 100%
    .footer-cell
      flex 1
      height 45px
      .icon-code
        display block
        height 65%
      .home
        background url("../../images/bottom/bottom_nor_icon04@2x.png") no-repeat center
        background-size 35% 75%
      .a0tive
        background url("../../images/bottom/bottom_press_icon04@2x.png") no-repeat center
        background-size 35% 75%
      .reservation
        background url("../../images/bottom/bottom_nor_icon03@2x.png") no-repeat center
        background-size 35% 75%
      .aotive
        background url("../../images/bottom/bottom_press_icon03@2x.png") no-repeat center
        background-size 35% 75%
      .add
        height 100%
        background url("../../images/bottom/bottom_icon05@2x.png") no-repeat center
        background-size 100% 100%
      .information
        background url("../../images/bottom/bottom_nor_icon01@2x.png") no-repeat center
        background-size 35% 75%
      .active
        background url("../../images/bottom/bottom_press_icon01@2x.png") no-repeat center
        background-size 35% 75%
      .me
        background url("../../images/bottom/bottom_nor_icon02@2x.png") no-repeat center
        background-size 35% 75%
      .actove
        background url("../../images/bottom/bottom_press_icon02@2x.png") no-repeat center
        background-size 35% 75%
      .text-code
        font-size .9em
        color #b8b8b8
        line-height 20px
.block-box
  display flex
  overflow hidden
  padding 15px
  background-color #fff
  border-bottom  10px solid #EFEFF4
  .img-box
    flex 2
  .info-box
    flex 5
    .info-title
      display flex
      .x-title
        display block
        flex 1
        font-size 1.1rem
      .icon
        flex 1
        height: 26px;
        background url("../../images/first-page/collect_icon_nor@2x.png") no-repeat right
        background-size 20% 60%
      .ective
        flex 1
        height: 26px;
        background url("../../images/first-page/collect_icon_press@2x.png") no-repeat right
        background-size 25% 70%
    .info-address
      width 90px
      font-size 0.6em
      color #848484
    .info-tag-box
      width 80px
      border-radius 5px
      border 1px solid orange
      font-size 0.8em
      text-align center
      color orange
      margin-top 10px
  .info-price
    display flex
    .x-price
      flex 1
      line-height 50px
      font-size 0.8em
      color #848484
      em
        font-style normal
        color orange
    .y-price
      flex 1
      display block
      font-size 0.8em
      line-height 50px
      color #848484









