<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demand-龙晨科技</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/news/public.css">
</head>
<body>
    <header class="tab_box">
        <ul class="tab_bar">
            <li class="tab_bar-cell">消息</li>
            <li class="tab_bar-cell">通知</li>
            <li class="tab_bar-cell active">需求</li>
        </ul>
    </header>
    <article class="demand_cells">
        <section class="demand_cell">
            <header class="demand-title"><span class="d-t-name">一个租房要求</span><i class="d-col-tag">代理商</i></header>
            <p class="demand-info">需求为:外滩shoho，200平米写字楼，简装带家私，租金8元/每平方左右，附近有地铁</p>
            <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
        </section>
    </article>

    <article class="demand_cells">
        <section class="demand_cell">
            <header class="demand-title"><span class="d-t-name">一个租房要求</span><i class="d-col-tag btn">租户</i></header>
            <p class="demand-info">需求为:外滩shoho，200平米写字楼，简装带家私，租金8元/每平方左右，附近有地铁</p>
            <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
        </section>
    </article>

    <article class="demand_cells">
        <section class="demand_cell">
            <header class="demand-title"><span class="d-t-name">一个租房要求</span><i class="d-col-tag n">租户</i></header>
            <p class="demand-info">需求为:外滩shoho，200平米写字楼，简装带家私，租金8元/每平方左右，附近有地铁</p>
            <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
        </section>
    </article>

    <article class="demand_cells">
        <section class="demand_cell">
            <header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-col-tag bt">名士</i></header>
       <p class="demand-info">需求为:外滩shoho，200平米写字楼，简装带家私，租金8元/每平方左右，附近有地铁</p>
       <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em class="text-time">08/04/12:12</em></footer>
        </section>
    </article>

    <footer class="footer-notice">
        <section class="footer-cells">
            <div class="footer-cell">
                <i class="icon-code home"></i>
                <span class="text-code ">首页</span>
            </div>
            <div class="footer-cell">
                <i class="icon-code reservation"></i>
                <span class="text-code ">预约</span>
            </div>
            <div class="footer-cell">
                <i class="icon-code add"></i>
            </div>
            <div class="footer-cell">
                <i class="icon-code information"></i>
                <span class="text-code ">信息</span></div>
            <div class="footer-cell">
                <i class="icon-code me"></i>
                <span class="text-code ">我</span></div>
        </section>
    </footer>
</body>
</html>