<!doctype html>
<html lang="en">
<head>
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>combination-龙晨印象</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../public/css/combination/combination.css">
</head>
<body>
	<header class="header">
		<i class="icon-block"></i>
		<span></span>
	</header>
	<div class="radio-box">
		<div class="radio-block selected"><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>震动</span></div>
		<div class="radio-block "><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>震</span></div>
		<div class="radio-block"><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>动</span></div>
		<div class="radio-block"><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>震动</span></div>
		<div class="radio-block"><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>动</span></div>
		<div class="radio-block "><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>震</span></div>
		<div class="radio-block "><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>震动</span></div>
		<div class="radio-block "><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>震</span></div>
		<div class="radio-block"><span class="radio-btn"><i class="icon">&nbsp;</i></span><span>动</span></div>
	</div>
	<div class="select-box">
		<div class="select-title" data-val="1">交付</div>
			<ul class="select-list">
				<li class="select-li" data-val="1">price</li>
				<li class="select-li" data-val="2">dog</li>
				<li class="select-li" data-val="3">hidden</li>
				<li class="select-li" data-val="4">hide</li>
				<li class="select-li" data-val="5">hate</li>
			</ul>

	</div>

	<div class="select-box">
		<div class="select-title" data-val="1">交付</div>
			<ul class="select-list">
				<li class="select-li" data-val="1">price</li>
				<li class="select-li" data-val="2">dog</li>
				<li class="select-li" data-val="3">hidden</li>
				<li class="select-li" data-val="4">hide</li>
				<li class="select-li" data-val="5">hate</li>
			</ul>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/js/libs/zepto/touch.js"></script>
	<script src="../../public/js/combination/combination.js"></script>
</body>
</html>