body {
  background-color: #efeff4;
  font-family: Microsoft Yahei;
}
.tab-box {
  height: 32px;
  padding: 6px;
  background-color: #fff;
}
.tab-bar {
  display: flex;
  width: 80%;
  height: 30px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #ea5404;
  color: #ea5404;
  line-height: 30px;
}
.tab-bar .tab-bar-cell {
  position: relative;
  flex: 1;
  text-align: center;
}
.tab-bar .tab-bar-cell:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 30px;
  background-color: #ea5404;
}
.tab-bar .tab-bar-cell:last-child:after {
  content: '';
  display: none;
}
.tab-bar .tab-bar-cell.active {
  background-color: #ea5404;
  color: #fff;
}
.tab-bar .tab-bar-cell .num {
  position: absolute;
  top: -5px;
  font-size: 12px;
}
.demand-cells {
  padding: 0 12px;
}
.demand-cells .demand-cell {
  background-color: #fff;
  padding: 10px 0;
  margin-top: 12px;
  border-radius: 5px;
  line-height: 30px;
  box-shadow: 0 0 1px 1px #e0e0e0;
}
.demand-cells .demand-cell .demand-title {
  display: flex;
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid #d6d7dc;
  font-size: 14px;
}
.demand-cells .demand-cell .demand-title .d-t-name {
  flex: 1;
}
.demand-cells .demand-cell .demand-title .d-t-time {
  color: #646464;
  font-style: normal;
  text-align: right;
  font-size: 12px;
}
.demand-cells .demand-cell .demand-info {
  margin: 0;
  padding: 12px;
  padding-bottom: 0;
  line-height: 18px;
  font-size: 13px;
  color: #646464;
  text-indent: 1em;
}
.demand-cells .demand-cell .demand-footer {
  margin: 0;
  padding-left: 12px;
  line-height: 18px;
  font-size: 13px;
  color: #646464;
}
